# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyd
.Python

# Virtual environments
.venv/
.venv_x64/
venv/
env/

# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# Environment / secrets
# =====================
.env
.env.local
.env.*.local

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
